body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Bell MT";
}

.hero {
  height: 100vh;
  background-image: url("/static/images/index.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.login {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

}