{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>cineMatch</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen">

  <!-- NAVBAR -->
   <header class="flex items-center justify-between p-4 bg-red-500 shadow-md">

    <!-- Left side: Logo + Search -->
    <div class="flex items-center space-x-4">
      <div class="text-xl font-bold text-white" style="margin-left: 30px">
          <a href="{% url 'index' %}">cineMatch</a>
      </div>
      <input
        type="text"
        placeholder="Search movie title..."
        class="px-3 py-1 rounded-md focus:outline-none focus:ring focus:ring-red-300"
        style="margin-left: 40px; width: 400px;"
      />
    </div>

    <!-- Right side: Login -->
       {% if not user.is_authenticated %}
        <div>
          <a href="{% url 'login' %}" class="text-white hover:underline" style="font-size: 20px; margin-right: 30px">Login</a>
        </div>
        {% else %}
           <div class="relative group">
        <!-- Link-style dropdown trigger -->
                <button class="text-white hover:text-gray-200 focus:outline-none font-medium" style="margin-right: 40px">
                    Menu
                </button>

                <!-- Dropdown content -->
                <div class="absolute right-0 mt-1 w-48 bg-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible group-focus-within:opacity-100 group-focus-within:visible transition-all duration-200 origin-top-right">

                    <div class="py-1">
                        <a href="#" class="block px-6 py-2 text-gray-800 hover:bg-gray-100">Profile</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"> Settings</a>
                        <div class="border-t border-gray-200 my-1"></div>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a>
                    </div>
                </div>
            </div>
        {% endif %}

  </header>

  <!-- MAIN CONTENT -->
  <div class="flex h-[calc(100vh-64px)]">

    <!-- SIDEBAR -->
    <aside class="bg-gray-800 shadow-md p-4" style="width: 180px;">
      <h2 class="text-white font-semibold mb-4" style="font-weight: bold">Categories</h2>
      <ul class="space-y-2" style="color: white">
          <li><a href="#" class="hover:text-red-600">Action</a></li>
          <li><a href="#" class="hover:text-red-600">Adventure</a></li>
          <li><a href="#" class="hover:text-red-600">Animation</a></li>
          <li><a href="#" class="hover:text-red-600">Comedy</a></li>
          <li><a href="#" class="hover:text-red-600">Crime</a></li>
          <li><a href="#" class="hover:text-red-600">Documentary</a></li>
          <li><a href="#" class="hover:text-red-600">Drama</a></li>
          <li><a href="#" class="hover:text-red-600">Family</a></li>
          <li><a href="#" class="hover:text-red-600">Frantasy</a></li>
          <li><a href="#" class="hover:text-red-600">History</a></li>
          <li><a href="#" class="hover:text-red-600">Horror</a></li>
          <li><a href="#" class="hover:text-red-600">Music</a></li>
          <li><a href="#" class="hover:text-red-600">Mystery</a></li>
          <li><a href="#" class="hover:text-red-600">Romance</a></li>
          <li><a href="#" class="hover:text-red-600">Sci-Fi</a></li>
          <li><a href="#" class="hover:text-red-600">TV Movie</a></li>
          <li><a href="#" class="hover:text-red-600">Thriller</a></li>
          <li><a href="#" class="hover:text-red-600">War</a></li>
          <li><a href="#" class="hover:text-red-600">Western</a></li>
      </ul>
      <hr class="my-4 border-t-1 border-gray-300">
    </aside>


    <!-- BACKGROUND IMAGE AREA -->
   {% block content %}

   {% endblock %}

  </div>

</body>
</html>
