{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>cineMatch</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen">

  <!-- NAVBAR -->
   <header class="flex items-center justify-between p-4 bg-red-500 shadow-md">

    <!-- Left side: Logo + Search -->
    <div class="flex items-center space-x-4">
      <div class="text-xl font-bold text-white" style="margin-left: 30px">cineMatch</div>
      <input
        type="text"
        placeholder="Search movie title..."
        class="px-3 py-1 rounded-md focus:outline-none focus:ring focus:ring-red-300"
        style="margin-left: 40px; width: 400px;"
      />
    </div>

    <!-- Right side: Login -->
    <div>
      <a href="#" class="text-white hover:underline" style="font-size: 20px; margin-right: 30px">Login</a>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <div class="flex h-[calc(100vh-64px)]">

    <!-- SIDEBAR -->
    <aside class="bg-gray-800 shadow-md p-4" style="width: 180px;">
      <h2 class="text-white font-semibold mb-4">Categories</h2>
      <ul class="space-y-2">

      </ul>
    </aside>

    <!-- BACKGROUND IMAGE AREA -->
   {% block content %}

   {% endblock %}

  </div>

</body>
</html>
