{% extends 'base.html' %}

{% block content %}
<h2>Popular Movies</h2>
<div class="row">
  {% for movie in movies %}
    <div class="col-md-2 mb-4">
      <div class="card">
        {% if movie.poster_path %}
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview|truncatewords:20 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
